/* Every element in body */
body {
	font-family: 'Lato', sans-serif;
}

/* Main title */
h1 a, h1 {
	color: rgb(239, 210, 28);
	text-decoration: none;
	font-weight: 100;
	font-size: 1.7em;
}

/* Titles */
h2 {
	font-size: 1.6em;
	font-weight: 100;
	margin: 0 0 20px 0;
}

/* Navbar menu item*/
nav a {
	color: rgb(200, 200, 200);
	padding: 0 8px 0px 8px;
}

/* Navbar menu item hover*/
nav a:hover {
	color: rgb(232, 190, 176);
}

/* Date */
h3 {
	color: rgb(200, 200, 200);
	font-weight: 100;
	font-size: 2em;
	margin: 20px 0 5px 0;
}

h2 a {
	color: black;
	text-decoration: none;
}

/* Continues link */ 
h4 a {
	float: right;
	color: rgb(239, 210, 28);
}

article {
	border-bottom: 1px solid gray;
	padding-bottom: 30px;
	max-width: 63%;
}

p {
	line-height: 25px;
}

article p::first-letter {
  color: rgb(200, 200, 200);
  font-size: 90px;
  display: inline;
  float: left;
  padding-top: 30px;
}

footer nav a {
	color: rgb(239, 210, 28);
}

footer {
	border-top: /*1px solid gray*/;
	padding-top: 60px;
}